<div class="row m-3">
    <div class="container my-container">
        <div class="card">
            <div class="card-header text-center">
                <h3>Fiche d'enregistrement d'un Professeur </h3>
            </div>

            <form (ngSubmit)="onSubmit()">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Nom</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.nomProf" name="nomEtudiant" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Prénom</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.prenomProf" name="prenomEtudiant" placeholder="Entrez le prénom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Specialité</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.specialite" name="dateNaissance" placeholder="Entrez la Specialité">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Dernier diplome</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.diplome" name="lieuNaissance" placeholder="Entrez le dernier diplome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Departement(Filière) :</label>
                            <select class="form-select" name="departement" [(ngModel)]="departementDto.idDepartement">
                                <option [ngValue]="null" disabled selected >Selectionner un departement</option>
                                <option  *ngFor="let departement of departements" value="{{departement.idDepartement}}"> {{departement.nomDepartement}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Categorie :</label>
                            <select class="form-select" name="categorie" [(ngModel)]="prof.categorie">
                                <option value="null" disabled selected >Selectionner un departement</option>
                                <option value="Enseignant Permanentt" >Enseignant Permennant</option>
                                <option value="Enseignant non Permanentt" >Enseignant non permennant</option>
                             </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Téléphone</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.telProf" name="nomEtudiant" placeholder="Entrez le numéro de téléphone">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.emailProf" name="nomEtudiant" placeholder="Entrez l'adresse e-mail">
                        </div>

                    </div>


                    <div class="row">
                        <div class="mb-0 mt-3  d-flex justify-content-md-end">
                            <button type="button" class="btn btn-danger" [routerLink]="['/dashboard/professeur-list']">Retour</button>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary">
                 <i class="fas fa-check"></i>Enregistrer 
                </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>