<div class="container my-container">
    <div class="card">
        <div class="card-header text-center">
            <h3>Inscription</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleInputEmail1">Nom</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Entrez le nom">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1">Adresse</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrez l'adresse">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1">Ville</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrez la ville">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1">Adresse E-mail</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrez e-mail">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez mot de passe">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1">Confirmer le Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez mot de passe">
            </div>
            <div class="mb-3 d-flex justify-content-md-between">
                <button type="button" class="btn btn-link" [routerLink]="['/login']">S'authentifier</button>
                <button type="button" class="btn btn-primary">
                 <i class="fas fa-check"></i>S'inscrire 
                </button>
            </div>

        </div>
    </div>
</div>