<div class="row m-3">
    <div class="container my-container">
        <div class="card">
            <div class="card-header text-center">
                <h3>Enregistrement d'une Matière </h3>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">

                        <div class="col">
                            <label for="exampleInputEmail1">Nom Matière</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="matiere.nomMatiere" name="nomMatiere" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Coefficient</label>
                            <input type="number" class="form-control" aria-describedby="emailHelp" [(ngModel)]="matiere.coefficient" name="coefficient" placeholder="Entrez le coefficient">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Unité d'Enseignement:</label>
                            <select class="form-select" name="ue" [(ngModel)]="ueDto.idUe">
                                <option [ngValue]="null" disabled selected >Selectionner une UE</option>
                                <option  *ngFor="let ue of ues" value="{{ue.idUe}}"> {{ue.nomUe}}</option>
    
                            </select>
                        </div>
                    </div>



                    <div class="row">
                        <div class="mb-0 mt-3  d-flex justify-content-md-end">
                            <button type="button" class="btn btn-danger" [routerLink]="['/dashboard/list-matiere']">Retour</button>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary">
                 <i class="fas fa-check"></i>Enregistrer 
                </button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>