<div class="row m-3">
    <div class="container my-container">
        <div class="card">
            <div class="card-header text-center">
                <h3>Fiche de modification d'un etudiant </h3>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Nom</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.nomEtudiant" name="nomEtudiant" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Prénom</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.prenomEtudiant" name="prenomEtudiant" placeholder="Entrez l'adresse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Date de naissance</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.dateNaissance" name="dateNaissance" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Lieu de naissance</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.lieuNaissance" name="lieuNaissance" placeholder="Entrez l'adresse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Tel</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.telEtudiant" name="telEtudiant" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.emailEtudiant" name="emailEtudiant" placeholder="Entrez l'adresse e-mail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Prénom du Père</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.prenomPere" name="prenomPere" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Tel du Père</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="etudiant.contactPere" name="telPere" placeholder="Entrez l'adresse">
                        </div>
                    </div>
                    <div class="row">
                        <!--
                        <div class="col">
                            <label for="exampleInputEmail1">Classe</label>
                            <select id="inputState" class="form-select" name="classe" [(ngModel)]="classeDto.idClasse">
                            <option selected  >Choisir la classe</option>
                            <option *ngFor="let classes of listClasse" value="{{classes.idClasse}}"> {{classes.nomClasse}} - {{classes.niveau.nomNiveau}} </option>
                          </select>
                        </div>
                      
                        <div class="col">
                            <label for="exampleInputEmail2">Niveau</label>
                            <select class="form-select" name="niveau" [(ngModel)]="niveauDto.idNiveau">
                            <option selected > Choisir le niveau </option>
                            <option *ngFor="let niveau of listNiv" value="{{niveau.idNiveau}}"> {{niveau.nomNiveau}} </option>
                            
                          </select>
                        </div>
        -->
                    </div>

                    <div class="row">
                        <div class="mb-0 mt-3  d-flex justify-content-md-end">
                            <button type="button" class="btn btn-danger" [routerLink]="['/list-etudiant']">Annuler</button>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary">
                 <i class="fas fa-check"></i>Enregistrer 
                </button>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>