<div class="row m-3">
    <div class="container my-container">
        <div class="card">
            <div class="card-header text-center">
                <h3>Fiche de modification d'un Professeur</h3>
            </div>

            <form (ngSubmit)="onSubmit()">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Nom</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.nomProf" name="nomProf" placeholder="Entrez le nom">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Prénom</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.prenomProf" name="prenomProf" placeholder="Entrez le prénom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Specialité</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.specialite" name="specialite" placeholder="Entrez la Specialité">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Dernier diplome</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.diplome" name="diplome" placeholder="Entrez le dernier diplome">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleInputEmail1">Téléphone</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.telProf" name="telProf" placeholder="Entrez le numéro de téléphone">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="prof.emailProf" name="emailProf" placeholder="Entrez l'adresse e-mail">
                        </div>

                    </div>


                    <div class="row">
                        <div class="mb-0 mt-3  d-flex justify-content-md-end">
                            <button type="button" class="btn btn-danger" [routerLink]="['/professeur-list']">Annuler</button>&nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary">
                 <i class="fas fa-check"></i>Enregistrer 
                </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>